@import "tailwindcss";

*[data-tauri-drag-region] {
  app-region: drag;

  -webkit-user-select: none;

  user-select: none;
}

@theme {
  --background: #000000;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}